{% include 'polls/base.html' %}

<div style="padding: 70px;">
<form action="." method="post">{% csrf_token %}
    <button type="submit" >Load</button>
</form>
{{rooms}}
</div>

<!--
<main role="main" class="container">

  <div class="starter-template">
    <br>
    <br>
    <br>
    <form action="{% url 'polls:index'%}" method="post">
        {% csrf_token %}
        <label for="url">Enter Url for QR Code: </label>
        <input id="url" type="text" name="url">
        <input type="submit" value="OK">
    </form>

</main>


<main role="main" class="container">

  <div class="starter-template">
    <br>
    <br>
    <br>
    <form action="{% url 'polls:index'%}" method="post">
        {% csrf_token %}
        <label for="url">Enter Url for QR Code: </label>
        <input id="url" type="text" name="url"> {{url}}
        <input type="submit" value="OK">
    </form>

</main>

-->