{% include 'polls/base.html' %}

<div style="padding: 70px;">

    <form action="." method="post">
        {% csrf_token %}
        <label>WEBLINK:</label>
        <input class="form-control" type="text" name="weblink" value="{{weblink}}"style="width: 30%"></input>
        <button type="submit" value="Load" name="_load">Load</button>
        <button type="submit" value="Generate" name="_generate">Generate</button>
        <button type="submit" value="SaveToFile" name="_save">Save to file</button>
        <button type="submit" value="PopulateField" name="_populate">Load to field</button>
    </form>
    <img src="/media/code.png">
   <!-- {% if weblink %}
        <img src="/media/code.png">
    {% else %}
        <p>no image chosen <p>
    {% endif %}
    -->
</div>