{% include 'polls/base.html' %}

<div style="padding: 70px;">

    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <label>Wifi Name:</label>
        <input class="form-control" type="text" name="wifi-name" value="{{wifiname}}" style="width: 30%"></input>
        <label>Wifi protocol:</label>
        <input class="form-control" type="text" name="wifi-auth" value="{{wifiauth}}" style="width: 30%"></input>
        <label>wifi password:</label>
        <input class="form-control" type="text" name="wifi-pass" value="{{wifipass}}" style="width: 30%"></input>
        <br>
        <button name="_generate"    type="submit">Generate</button>
        <button name="_save"        type="submit">Save</button>
        <button name="_load"        type="submit">Load</button>
        <br>
        <input type="file" name="document">
        <button name="_upload"      type="submit">Upload</button>
        <br>
    </form>
    <img src="/media/code.png">
</div>